extends layout

block content
  h1= pagetitle
  p Welcome to #{pagetitle}
  a(href='./index') Index
  br
  a(href='./form') Form
  br
  a(href='./about') About
  br
  br
  br
  img(src="images/potato.png")
  br
  br
  br

  p.col-5
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis, ipsum ac gravida feugiat, ex urna mattis metus, eget ornare est arcu ac sem. Maecenas at risus risus. Quisque semper neque at eros iaculis tempor. Nam commodo egestas odio, id molestie libero lobortis in. Sed non iaculis lacus. Proin lobortis mi nunc, id condimentum eros blandit sed. Etiam congue et lectus dapibus auctor. Suspendisse potenti. Proin sit amet ullamcorper est. Sed pharetra, sapien in porttitor mollis, libero turpis iaculis augue, et rhoncus neque lorem non sem.

  p.col-5
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis, ipsum ac gravida feugiat, ex urna mattis metus, eget ornare est arcu ac sem. Maecenas at risus risus. Quisque semper neque at eros iaculis tempor. Nam commodo egestas odio, id molestie libero lobortis in. Sed non iaculis lacus. Proin lobortis mi nunc, id condimentum eros blandit sed. Etiam congue et lectus dapibus auctor. Suspendisse potenti. Proin sit amet ullamcorper est. Sed pharetra, sapien in porttitor mollis, libero turpis iaculis augue, et rhoncus neque lorem non sem.
