extends layout

block content
  h1= pagetitle
  p Welcome to #{pagetitle}
  a(href='./index') Index
  br
  a(href='./form') Form
  br
  a(href='./about') About
    br
    br
    br
    br
    br
    br
    br
    br
  form(action="/form", method="post", class="form-horizontal")
      input(type="text", name="name" placeholder="Name", class='form-control')
      input(type="text", name="email" placeholder="Email", class='form-control')
      input(type="textarea", name="comments" placeholder="Comments", class='form-control')
      br
      input(type="submit", class='btn')